
<!DOCTYPE html>
<html lang="en">
<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Quick Start - Leaflet</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		.leaflet-container {
			height: 400px;
			width: 600px;
			max-width: 100%;
			max-height: 100%;
		}
	</style>

	
</head>
<body>



<div id="map" style="width: 600px; height: 400px;"></div>
<script>


    var stationIcon = L.icon({
        iconUrl: '/static/img/metrosp-logopq.png',

        iconSize:     [30, 30], // size of the icon
        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    var lats = {{ lats|safe }};
    var lngs = {{ lngs|safe }};
    var names = {{ names|safe }};
    var markers_added = [];

	const map = L.map('map').setView([lats[0], lngs[0]], 13);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    for (var i = 0; i < lats.length; i++) {
        marker =  L.marker([lats[i],lngs[i]], {icon: stationIcon}).addTo(map);
        marker.bindPopup(names[i]).openPopup();
        marker.on('click', function() {
            getNewMarkers(this.getLatLng().lat, this.getLatLng().lng);
        });
}

function getNewMarkers(lat, lng) {
    $.ajax({
        type: "GET",
        url: "/get_quinto_andar_data",
        data: { lat: lat, lng: lng },
        success: function(data) {

            	// Remove previously added markers
            for (var i = 0; i < markers_added.length; i++) {
                map.removeLayer(markers_added[i]);
            }
            markers_added = [];
            let buildings = data.buildings;
            for (let i = 0; i < buildings.length; i++) {
                let building = buildings[i];
                marker = L.marker([building.lat, building.lng])
                    .addTo(map)

                markers_added.push(marker);
            }
        }
    });
}
        


	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent(`You clicked the map at ${e.latlng.toString()}`)
			.openOn(map);
	}

	map.on('click', onMapClick);

</script>



</body>
</html>
